{
  "extends": [
    "stylelint-config-recommended", 
    "stylelint-config-concentric-order", 
    "stylelint-config-standard", 
    "stylelint-config-rational-order",
    "stylelint-config-styled-components",
    "stylelint-config-prettier"
  ],
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-config-rational-order/plugin",
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "no-descending-specificity": null,
  }
}