.Menus {
  .Heading {
    padding: 20px 0;
    .btnClose {
      padding: 0;
      font-size: 30px;
      line-height: 0;
      background-color: transparent;
      border: none;
    }
  }

  .Navs {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}