@import '../../styles/variables';

.Menus {
  header {
    padding: 40px;

    .btnClose {
      padding: 0;
      font-size: 30px;
      line-height: 0;
      background-color: transparent;
      border: none;
    }
  }

  .Navs {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 60vh;

    ul {
      li {
        text-align: center;

        a {
          color: #fff;
          font-weight: 700;
          font-size: 2rem;
          text-transform: uppercase;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  footer {
    padding: 40px;
  }
}