@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-hairline-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-hairline-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-hairlineitalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-hairlineitalic-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-thin-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-thin-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-thinitalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-thinitalic-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-light-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-lightitalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-extralight-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-extralight-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-extralightitalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-extralightitalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-italic-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-italic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-regular-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-bold-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-bolditalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-bolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-black-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-black-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-blackitalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-blackitalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-ultrablack-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-ultrablack-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'interstate';
  src: url('../assets/fonts/interstate-ultrablackitalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/interstate-ultrablackitalic-webfont.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}