@import './variables';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap');

body {
  font-family: 'Work Sans', sans-serif !important;
  background-color: $body !important;
}

p,
li,
abbr {
  color: $black;
  font-weight: 400;
}

a {
  &:hover {
    text-decoration: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  color: $black;
  font-weight: 600;
}

*:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
label,
li span {
  &::selection {
    color: $black !important;
    background-color: $yellow !important;

    @media (max-width: 575.98px) {
      color: $black;
      background-color: #fff;
    }
  }
}

input {
  caret-color: $blue;
}

.btn-primary {
  background-color: $blue !important;

  a {
    color: #fff;
  }

  &:hover {
    background-color:  $blue_medium !important;
  }
}

[class*="btn-"] {
  border: none;
}