$black: #20313f;
$green: #00ba7a;
$green_medium: #019658;
$blue: #2572dd;
$blue_medium: #134fa3;
$gray_light: #ced6e0;
$gray_medium: #a3a9af;
$gray_dark: #57606f;
$fuchsia: #8e3389;
$redorange: #f54c73;
$yellow: #ffe058;
$red: #e03325;
$blue_gray: #3c6382;
$body: #E8ECF1;


%boxShadowContent {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(33, 44, 52, 0.05);
  -moz-box-shadow: 0px 0px 6px 0px rgba(33, 44, 52, 0.05);
  box-shadow: 0px 0px 6px 0px rgba(33, 44, 52, 0.05);
}

%boxContent {
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
}
